/* Global Variables & Mixins */
/* -------------------------------------------------------------------------- */
$default-background-color:		#fff;
$default-color:					#000;
$default-font-size:				16px;
$default-font-stack:			'Helvetica Neue', Helvetica, Arial, sans-serif;
$default-page-width:			1024px;

/* Base */
/* -------------------------------------------------------------------------- */

@import 'scss/reset';

html, body {
	font-family: $default-font-stack;
	font-size: $default-font-size;
	background: $default-background-color;
	color: $default-color;
}
app>.loading {
	width: 96px; height: 96px;
	margin: -48px 0 0 -48px;
	position: fixed;
	top: 50%; left: 50%;
	text-align: center;
	line-height: 96px;
	color: #eee;
}

/* Layout */
/* -------------------------------------------------------------------------- */

.container {
	width: $default-page-width;
	margin: 0 auto;
	display: block;
}

/* Components */
/* -------------------------------------------------------------------------- */

@import 'scss/features/*';
