/* Global Variables */
/* -------------------------------------------------------------------------- */
// TODO: move to separate variables doc

/* Base */
/* -------------------------------------------------------------------------- */
html, body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 16px;
	background: #fff;
	color: #000;
}
app>.loading {
	width: 96px; height: 96px;
	margin: -48px 0 0 -48px;
	position: fixed;
	top: 50%; left: 50%;
	text-align: center;
	line-height: 96px;
	color: #eee;
}

/* Layout */
/* -------------------------------------------------------------------------- */


/* Components */
/* -------------------------------------------------------------------------- */

/* <component-name> (app/feature/component-name.component.html/ts) */
/* ---------- */
